.nav1{
    /* position: fixed; */
    width: 20%;
    background-color: rgb(36, 106, 235);
}
.nav2{
    width: 80%;
    /* position: fixed; */
    margin-left: 20%;
    padding-bottom: 0.6%;
    background-color: rgb(61, 123, 236);
}

#logout{
    display: none;
}

.body{
    width: 20%;
    position: fixed;
    margin-top: 4%;
    background-color: rgb(44, 44, 44);
    /* color: rgb(185, 185, 185); */
}

a :hover{
    background-color: rgb(65, 64, 64);
}

.link{
   text-decoration: none;
}

#header{
    font-size: 1.6em;
    color: rgba(236, 234, 234, 0.952);
}

.body2{
    width: 80%;
    margin-left: 20%;
    margin-top: 4%;
    /* background-color: yellow; */
}

.card{
    float: left;
    margin: 1%;
}
.dashboard{
    font-size: 3rem;
}

@media only screen and (max-width: 767px){
    .nav1{
        width: 100%;
    }
    .nav2{
        display: none;
    }
    .body{
        width: 100%;
        margin-top: 20%;
        position: relative;
    }
    .body2{
        width: 100%;
        position: static;
    }
    #cards{
        width: 100%;
        display: contents;
    }
    #logout{
        display: contents;
    }
    #satu{
        /* display: none; */
    }
    .dashboard{
        display: none;
    }
    .about{
        display: none;
    }
    .article{
        display: none;
    }
    .new{
        display: none;
    }
    .best{
        display: none;
    }
    .contact{
        display: none;
    }
    .produk{
        display: none;
    }
}